/* RESET:  
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* for html shiv */
article, aside, figure, footer, header, hgroup,
menu, nav, section {
  display: block; }

/* MY CODE*/
.clearfix {
  zoom: 1; }

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

body {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 100%;
  color: #fff;
  background: #22252c;
  overflow-x: hidden; }

header {
  text-align: center;
  width: 60%;
  margin: 20px auto 10px auto;
  color: #fff;
  border-radius: 10px;
  padding: 10px 0 15px 0; }
  header h1 {
    font-size: 200%;
    font-weight: 300; }

#wishlist {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 10px; }
  #wishlist .form {
    width: 100%; }
  #wishlist #validation_box {
    color: #22252c;
    font-size: 80%;
    width: 15%;
    margin: 0 25% -45px;
    min-height: 35px; }
    #wishlist #validation_box p {
      padding: 7px;
      color: #FF3232; }
    #wishlist #validation_box .active {
      background-color: #fff;
      border-radius: 5px;
      color: #22252c; }
  #wishlist .inputstyle, #wishlist input, #wishlist button {
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom: 1px solid #e14658;
    border-radius: 5px;
    color: #fff;
    padding: 25px;
    font-size: 100%; }
  #wishlist input {
    outline: none;
    -moz-outline: none;
    width: 65%;
    float: left;
    border: 1px solid #e14658;
    box-sizing: border-box; }
  #wishlist button {
    cursor: pointer;
    margin-left: 2%;
    background-color: #e14658;
    border: 1px solid #e14658;
    color: #fff;
    outline: none;
    -moz-outline: none;
    width: 30%;
    float: right; }

::-webkit-input-placeholder {
  color: #696969; }

:-ms-input-placeholder {
  color: #696969; }

:-moz-placeholder {
  color: #696969; }

#tasks {
  width: 60%;
  margin: 0 auto 20px auto;
  box-sizing: border-box;
  min-height: 200px; }

.boxes, #todo, #done {
  width: 50%;
  text-align: left;
  padding-top: 5px;
  list-style-position: outside;
  height: 100%; }

h3 {
  font-size: 120%;
  text-align: center;
  font-weight: 400; }

#todo {
  box-sizing: border-box;
  float: left; }

#done {
  float: right;
  margin-bottom: 15px; }

li {
  text-align: left;
  word-wrap: break-word;
  max-width: 100%;
  line-height: 1.3;
  list-style: none; }
  li label {
    cursor: pointer;
    width: 70%;
    float: left;
    margin-right: 5%;
    margin-top: 15px;
    margin-bottom: 10px; }
  li .close {
    float: right;
    width: 10%;
    font-size: 100%;
    margin-top: 15px;
    cursor: pointer; }

ul {
  margin-left: 30%; }

/*# sourceMappingURL=style.css.map */
